@import url(./layout/navbar.css);
@import url(./components/hero.css);
@import url(./components/item.css);
@import url(./components/popular.css);
@import url(./components/offer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
    overflow-y: scroll;
}
